{% extends 'website/base.html' %}

{% block content%}
    <div class="container-fluid">
        <div class="row-md">
            <h2 class="display-1">Temporary Homepage</h2>
        </div>
        <div class="row">
            <p class="col" style="white-space:pre-line;">Always being up to date and not having to struggle with writing 
            everything down on paper!</p>
        
        </div>
        <div class="row-md">
            <a href="create_room" class="btn btn-primary">Join</a>
        </div>
    </div>
    
        
      
{% endblock %}
